body {
    background-color: lightgray;
    font-size: 1.2rem;
    margin: 0;
}

main {
    max-width: 60rem;
    margin: auto;
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
    box-sizing: border-box;
}

nav {
    max-width: 60rem;
    margin: auto;
}

nav a {
    display: inline-block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(66, 66, 66);
}

.navcontainer {
    background-color: gray;
}