.sweden {
    color: yellow;
    background-color: blue;
}

.norway {
    color: white;
    background-color: red;
}

.denmark {
    color: white;
    background-color: red;
}

p {
    color: gray;
}

h1 {
    color: gray;
}