body {
    background-color: lightgray;
    font-family: 'Manjari', sans-serif;
}

h1 {
    color: purple;
}

.main {
    background-color: white;
    width: 900px;
    padding: 40px;
    margin: auto;
}

.imgblock {
    text-align: center;
}

a {
    color: purple;
}